#client_download {
	display: block;
	/* background-image: url('../../img/dl.gif');
	width: 379px;
	height: 167px;
	*/
	margin: 0 auto;
	opacity:.6;
	background-image:url('../../img/download.png');
	width:183px;
	height:219px;
}
#client_download:hover {
	/* background-image: url('../../img/dl-hover.gif'); */
	opacity:1;
}

div#system_requirements ul {
	width:80%;
	margin:0 auto;
}
div#system_requirements ul:after { display:block; content:''; clear:right; }

#system_requirements ul > li {
	margin:3px 0;
	padding:3px 0;
	line-height:150%;
}

div#system_requirements ul li span:nth-child(1) {
	font-weight:bold;
}

div#system_requirements ul li span:nth-child(2) {
	float:right;
	padding-right:5px;
}